<!--{{id}}-->
<div class="row ">
	<div class="col-12 d-flex justify-content-between m-2">
		<button class="btn btn-outline-primary" (click)="isVisibleNewForm()"><i class="fa-regular fa-square-plus"></i></button>
		<div class="d-flex me-3">
			<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="search">
			<span><button class="btn btn btn-success mx-2">Search</button> </span>
		</div>
	</div>
	<div class="col-sm-3 col-md-3 col-lg-3 my-3" *ngIf="isAddNewCard">
		<div class="card p-3 bg-light">
			<form [formGroup]="form" (ngSubmit)="addCard()" *ngIf="form">
				<div class="form-group">
					<label for="heading" class="form-label">Heading</label>
					<input type="text" formControlName="heading" class="form-control" id="heading">
				</div>
				<div class="form-group">
					<label for="body" class="form-label">Body</label>
					<textarea class="form-control" id="body" formControlName="body"></textarea>
				</div>
				<div class="float-end mt-2">
					<button class="btn btn-outline-danger btn-sm me-2" (click)="cancel()">cancel</button>
					<button class="btn btn-outline-success btn-sm" type="submit">save</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-3 col-md-3 col-lg-3 my-3" *ngFor="let card of cards; trackBy : trackById ">
		<div class="card p-3 bg-light">
			<ng-template [ngIf]="isEditmode && card.id === currentCardId" [ngIfElse]="ViewCard">
				<form [formGroup]="form" (ngSubmit)="updateCard(card.id)" *ngIf="form ">
					<div class="form-group">
						<label for="heading" class="form-label">Heading</label>
						<input type="text" formControlName="heading"   class="form-control" id="{{card.id}}">
					</div>
					<div class="form-group">
						<label for="body" class="form-label">Body</label>
						<textarea class="form-control" id="{{card.id}}" formControlName="body" ></textarea>
					</div>
					<div class="float-end mt-2">
						<button class="btn btn-outline-danger btn-sm me-2" (click)="cancel()">cancel</button>
						<button class="btn btn-outline-success btn-sm" >save</button>
					</div>
				</form>
			</ng-template>
			<ng-template #ViewCard>
				<div class="form-group">
					<label for="heading" class="form-label">Heading</label>
					<input type="text"  [disabled]="true"  class="form-control" id="{{card.id}}" [ngModel]="card.heading">
				</div>
				<div class="form-group">
					<label for="body" class="form-label">Body</label>
					<textarea class="form-control" id="body-card" [disabled]="true"  [ngModel]="card.body"></textarea>
				</div>
				<div class="d-flex justify-content-end">
					<button class="btn" (click)="edit(card)" id="button-edit">
						<i class="fa-regular fa-pen-to-square" style="color: #a55cc7;"></i>
					</button>
					<button  class="btn" (click)="deleteCard(card.id)"
							 id="button-delete"><i class="fa-regular fa-trash-can" style="color: #a55cc7;"></i>
					</button>
				</div>
			</ng-template>

		</div>
	</div>
</div>
