<div class="card">
  <div class="row vh-100">
    <div class="col-sm-2 col-md-2 col-lg-2 border-end">
      <h4 class="ms-3">Create Workspaces</h4>
      <form class="d-flex align-items-center m-3" (ngSubmit)="addWorkspace()" [formGroup]="form" *ngIf="form">
        <input type="text" formControlName="workspace" id="workspace1" class="form-control">
        <button class="btn btn-sm btn-info ms-2" type="submit">Add Workspace</button>
        <!--        <div *ngFor="let input of inputs; let i = index">-->
        <!--          <input type="text" name="input{{i}}" [(ngModel)]="input.value" >-->
        <!--        </div>-->
      </form>

      <div *ngIf="workspaces">
        <div *ngFor="let workspace of workspaces">
          <div class=" mb-3 d-flex">
            <input type="text" class="form-control" placeholder="Recipient's username" [value]="workspace.workspace"
                   [disabled]="workspace.id !== isWorkspaceId" aria-placeholder="Workspace name">
            <button class="btn btn-outline-secondary" (click)="edit(workspace.id )" type="button" id="button-edit"></button>
            <button *ngIf="workspace.id === isWorkspaceId"  (click)="save()" type="button" id="button-update"></button>
            <button *ngIf="workspace.id !== isWorkspaceId"  (click)="save()" type="button" id="button-delete"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

